@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Muli:300i,400,400i,500,600|Playfair+Display:400,400i,700i|Quicksand&display=swap&subset=latin-ext'); 
@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');

/* ------------------------------------------------------------ Body */


/* ------------------------------------------------------------ Colors */

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    background-color: rgb(249, 198, 207);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
}

.header-logo-text {
    color: rgba(0, 0, 0, 0.5)
}

.header-logo-text:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}

.bg-footer {
    background-color: rgb(249, 198, 207);
}

.footer-text { 
    color: #fff;
    
}
/* ------------------------------------------------------------ Fonts */

.header-logo-text {
    font-family: "dancing script", sans-serif;
    font-size: 48px;
}

.navbar-links {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
}

.main-image-text-header {
    font-family: "Muli", sans-serif;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 1px;
}

.main-image-text-date,
.main-image-text-place {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
}

.footer-text {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

/* ------------------------------------------------------------ Header */

.header-logo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ------------------------------------------------------------ Navbar */

.navbar {
    padding: 0;
}

.navbar-container {
    padding: 0;
    margin-bottom: 15px;
}

.navbar-toggler {
    margin: 2px auto;
    border: none;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 12px;
    border-radius: 10px;
}

/* ------------------------------------------------------------ Main Image */

@media(min-width: 770px) {
.main-image-container-lg {
    height: 85vh;

  background: url("../images/toristefan.JPG") center no-repeat; 
}
}

@media(min-width: 415px) and (max-width: 770px) {
.main-image-container-md-sm {
    height: 85vh;

  background: url("../images/1.JPG") left top no-repeat; 
}
}

@media(max-width: 415px) {
.main-image-container-xs {
    height: 85vh;

  background: url("../images/toristefan.JPG") 30% no-repeat; 
}
}

.main-image-container-lg,
.main-image-container-md-sm,
.main-image-container-xs {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  }

  .main-image-text {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.main-image-text-date {
    margin-bottom: 0;
}



/* ------------------------------------------------------------ Footer */

.footer {
    text-align: center;
    padding: 16px 0;
    margin: 0;
}

.footer p {
    margin: 0;
}