@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Muli:300i,400,400i|Playfair+Display:400,400i,700i|Quicksand&display=swap&subset=latin-ext'); 
@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');


/* ------------------------------------------------------------ Navbar */

.navbar {
    padding: 0;
}

.navbar-container {
    padding: 0;
}

.navbar-links {
    font-family: "Muli",sans-serif;
    letter-spacing: 1px;
  
    font-size: 20px;
}

.navbar-text {
    font-family: "dancing script", sans-serif;
    font-size: 40px;
    margin-left: 2px;
      padding-right: 16px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    background-color: pink;
}

.navbar-toggler {
    margin-right: 2px;
}

a.nav-link {
    padding-top: 12px;
    padding-bottom: 12px;
}